---

---

<div class="bg-slate-900 px-6 py-24 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-blue-400">DISCLAIMER!</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-white sm:text-6xl">
      Community Takeover
    </h2>
    <p class="mt-6 text-lg leading-8 text-slate-200">
      Original dev turned out to not be so based, but that's not stopping us!
      We're traders on base! We're all the same! We're $BEN. Don't be a jeet!
      Don't be a fudder! Don't be exit liquidity! Instead join this community
      takeover to show how truly based you are!
    </p>
  </div>
</div>
