---
import { LanguageSelector } from "astro-i18next/components";
---

<header class="bg-white sticky top-0 z-50">
  <nav class="flex items-center justify-between px-8">
    <div>
      <a href="/">
        <img
          class="py-2 h-16"
          src="/apple-touch-icon.png"
          alt="CubeAlgos Logo"
        />
      </a>
    </div>
    <div class="nav-links static min-h-fit bg-white left-0 w-full flex px-5">
    </div>
    <LanguageSelector class="bg-white-100 text-slate-900 p-2" showFlag={true} />
  </nav>
</header>
