---

---

<div class="overflow-hidden bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:ml-auto lg:pl-4 lg:pt-4">
        <div class="lg:max-w-lg pb-8">
          <h2 class="text-base font-semibold leading-7 text-blue-400">
            Documentation
          </h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl"
          >
            Roadmap & Vision
          </p>
          <p class="mt-6 text-lg leading-8 text-slate-600">
            We have the goal of uniting all traders on base, therefore we try to
            form an ecosystem around building and growing a thriving community.
            <br />
            <br /> Products & Services which are already available and those which
            are currently work in progress can be tracked in our documentation!
          </p>
        </div>
        <a
          href="https://docs.basedmencto.com"
          class="rounded-md bg-blue-500 px-3.5 py-2.5 text-xl font-semibold text-white shadow-sm hover:bg-blue-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-400"
          >Documentation</a
        >
      </div>
      <div class="flex items-start justify-end lg:order-first">
        <img
          src="/img/gitbook.png"
          alt="GitBook Screenshot"
          class="w-[48rem] max-w-none rounded-xl shadow-2xl ring-1 ring-slate-400/10 sm:w-[57rem]"
          width="2432"
          height="1442"
        />
      </div>
    </div>
  </div>
</div>
